<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/AirbnbIndia">
        <i class="fa-brands fa-facebook"></i
      ></a>
      <a href="https://www.instagram.com/airbnb/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://twitter.com/airbnb_in"
        ><i class="fa-brands fa-twitter"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
