<% layout("/layouts/boilerplate")-%>
<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3>Create a New Listing</h3>
    <br />

    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div>
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="enter title"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter valid title</div>
      </div>

      <div>
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="enter description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter short description</div>
      </div>

      <!-- <div>
        <label for="image" class="form-label">Image/URL</label>
        <input
          name="listing[image]"
          placeholder="enter image URL/Link"
          type="text"
          class="form-control"
        />
      </div> -->

      <div>
        <label for="image" class="form-label">Upload Listing Image</label>
        <input name="listing[image]" type="file" class="form-control" />
        required
      </div>

      <div class="row">
        <div class="col-4">
          <label for="price" class="form-label">price</label>
          <input
            name="listing[price]"
            placeholder="enter price"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Pleace enter Price</div>
        </div>

        <div class="col-8">
          <label for="country" class="form-label">country</label>
          <input
            name="listing[country]"
            placeholder="enter country"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid Country</div>
        </div>
      </div>

      <div>
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="enter location"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location shoud be valid</div>
      </div>
      <br />

      <button class="btn btn-dark">Add</button>
      <br />
      <br />
    </form>
  </div>
</div>
